@mixin vodPlayer() {
  .vodPlayer {
    @include transition(all 0.5s ease-in);
    position: relative;
    &.fullscreen{
      z-index: 10;
      border:none !important;
      background:#343434 !important;
      position:absolute !important;
      left:0;
      top:0;
      min-width:100%;
      min-height:100%;
    }
  }
}