<div id="myGrid" >
    <div class='viewPanel'>
        <div class='group'>
            <figure class='cell'></figure>
        </div>
        <div class='group'>
            <figure class='cell'></figure>
        </div>

    </div>
    <div class='viewPanel'>
        <div class='group'>
            <figure class='cell'></figure>
        </div>
        <div class='group'>
            <figure class='cell'></figure>
        </div>

    </div>
    <div id="gridScroll">
        <div class="gridScrollBar"></div>
    </div>
</div>