.radioButtonGroup {
  position: relative;
  list-style: none;
  display: inline-block;
}
.radioButtonGroup li > div{
  display:inline-block;
  vertical-align: middle;
}

.radioButtonGroup .default input[type="radio"] {
  display: none;
}

.radioButtonGroup .label {
  /*  color:#f2f2f2;*/
  font-family: Arial, sans-serif;
  font-size: 14px;
}

.radioButtonGroup .default input[type="radio"] + label {
  display: inline-block;
  width: 19px;
  height: 19px;
  margin: 0.25em 0.5em 0.25em 0.25em;
  border: 0.0625em solid rgb(192, 192, 192);
  border-radius: 0.25em;
  background: rgb(224, 224, 224);
  @include vendor-prefix(background-image, linear-gradient(rgb(224, 224, 224), rgb(240, 240, 240)), right);
  vertical-align: middle;
  cursor: pointer;
}

.radioButtonGroup .default input[type="radio"]:checked + label:after {
  content: '\2713';
  display: block;
  width: 1em;
  color: rgb(153, 204, 102);
  @include rem(font-size, 20px);
  line-height: 1em;
  text-align: center;
  text-shadow: 0 0 0.0714em rgb(115, 153, 77);
}